body {
  background-image: url("https://media.istockphoto.com/id/1478929575/vector/brush-stroke-gold-background-material.jpg?s=1024x1024&w=is&k=20&c=EplxUOBdRwIYtjDyEWH9IgNZCs8uh9Qxr-E7FAhWgRI=");
}
h1 {
  text-align: center;
  color: gold;
  font-family: 'DancingScriptRegular';
  font-size: 400%;
